<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layoutC :: head">

</head>
<body>
<nav th:replace="layoutC :: header"></nav>
<div class="container main-content list">
    <div th:if="${success}"
         class="row alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span th:text="${success}"></span>
    </div>

    <div class="row">
        <a th:href="@{/}" class="btn btn-success pull-left">
            <span class="glyphicon glyphicon-plus"></span> Đăng ký
        </a>
        <form class="form-inline pull-right" action="#"
              th:action="@{/haisan/search/1}" method="GET">

            <div class="form-group">
                <input type="text" class="form-control" name="s"
                       placeholder="Nhập hải sản cần tìm..."/>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <form th:action="@{/edit-haisan}" th:object="${haisan}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Tên hải sản:</td>
                <td th:text="*{name}"></td>
            </tr>
            <tr>
                <td>Ngày nhập :</td>
				<td th:text="*{date}"></td>

            </tr>
            <tr>
                <td>Nguồn gốc :</td>
                <td th:text="*{noiban}"></td>
            </tr>
            <tr>
                <td>Số lượng còn :</td>
                <td th:text="*{soluong}"></td>
            </tr>
            <tr>
                <td>Giá bán :</td>
                <td th:text="*{giaban}"></td>
            </tr>
            <tr>
                <td>Cách chế biến :</td>
                <td th:text="*{cachnau}"></td>
            </tr>


        </table>
    </form>


</div>
<!-- /.container -->

<footer th:replace="layoutC :: footer1"></footer>
</body>
</html>